.dialog {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0);
  
  /* this is what centers your element in the fixed wrapper*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* aligns on vertical for column */
  align-items: center; /* aligns on horizontal for column */
}

.dialog-content {
  /* background-color: #fefefe; */
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  display: none;
}
