<custom-dialog>
  <h3>Connection</h3>
  <div class="block">
    <label>DB Type</label>
    <select id="db_type">
      <option value="PostgreSQL">PostgreSQL</option>
    </select>
  </div>
  <div class="block">
    <label>User</label>
    <input type="text" id="user"/>
  </div>
  <div class="block">
    <label>Password</label>
    <input type="text" id="password"/>
  </div>
  <div class="block">
    <label>Database</label>
    <input type="text" id="database"/>
  </div>
  <div class="block">
    <label>Host</label>
    <input type="text" id="host"/>
  </div>
  <div class="block">
    <label>Port</label>
    <input type="number" id="port"/>
  </div>
  <menu>
    <button id="cancel" type="button">Cancel</button>
    <button id="connect">Connect</button>
  </menu>
</custom-dialog>
