menu {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

menu button:not(:first-child) {
  margin-left: 10px;
}

table th {
  text-align: left;
}

.errors p {
  color: #cc0000;
}

table {
  margin-top: 20px;
  border: none;
  border-collapse: collapse;
}

table td:first-child, table th:first-child {
  border-left: none;
}

table td, table th {
  border-left: 1px solid #AAA;
  padding: 3px 5px 3px 5px;
}

table tr:hover {
  background-color: #DDD;
}
