menu {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

menu button:not(:first-child) {
  margin-left: 10px;
}

table th {
  text-align: left;
}

.errors p {
  color: #cc0000;
}

table {
  margin-top: 20px;
}
