<!DOCTYPE html>
<html>

<head lang="en">
  <title>DB designer</title>

  <meta charset="UTF-8">
  <meta name="web" content="yes">

  <% if (PRODUCTION) { %>
    <!-- Hotjar Tracking Code for https://dbgrapher.com -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1251673,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  <% } %>
</head>

<body>
  <% if (IS_ELECTRON) { %>
  <db-connection-dialog></db-connection-dialog>
  <% } else { %>
  <input type="file" id="file_open" style="display:none" accept="application/json" />
  <input type="file" id="db_schema_file_open" style="display:none" accept="text/plain" />
  <% } %>
  <table-dialog></table-dialog>
  <choose-db-dialog></choose-db-dialog>
  <div class="main_container">
    <% if (!IS_ELECTRON) { %>
    <menu-bar></menu-bar>
    <% } %>
    <side-panel></side-panel>
    <db-viewer></db-viewer>
  </div>
  <welcome-dialog></welcome-dialog>
</body>

</html>
